In [294]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [295]:
# load data
original_df = pd.read_csv('../../data/data_exploration_df.csv')

# make a copy
df = original_df.copy()

### functions

In [296]:
# function that takes in the events_to_analyze and returns the dataframes for each event with the lenght, number of NaN values, and print the names of the created dataframes
def create_event_dataframes(events_to_analyze, df):
    event_dataframes = {}
    for event in events_to_analyze:
        event_dataframes[event] = df[df['event.key'] == event]
        print(event, 'dataframe created')
    return event_dataframes

# function that creates a dataframe where event.key is a NaN value
def create_nan_event_dataframes(df):
    nan_event_df = df[df['event.key'].isna()]
    print('NaN event dataframe created')
    return nan_event_df

# function that takes in the event_dataframes nan_event_df and returns the lenght, number of NaN values for each column in each dataframe
def analyze_event_dataframes(event_dataframes, nan_event_df):
    for event in event_dataframes:
        print(event, 'dataframe')
        print('Lenght:', len(event_dataframes[event]))
        print('Number of NaN values:')
        print(event_dataframes[event].isna().sum())
        print('\n')
    print('NaN event dataframe')
    print('Lenght:', len(nan_event_df))
    print('Number of NaN values:')
    print(nan_event_df.isna().sum())

### variables

In [297]:
events_to_analyze = ['battery_info', 'crash_data']

### run functions

In [298]:
event_dataframes = create_event_dataframes(events_to_analyze, df)

battery_info dataframe created
crash_data dataframe created

In [299]:
nan_event_df = create_nan_event_dataframes(df)

NaN event dataframe created

In [300]:
analyze_event_dataframes(event_dataframes, nan_event_df)

battery_info dataframe
Lenght: 37754
Number of NaN values:

imei                           0
dtd                            0
tracker.metric.bbatp           0
device.metric.dactualsp    37754
device.metric.btemp        21031
event.key                      0
dtype: int64


crash_data dataframe
Lenght: 20320
Number of NaN values:
imei                           0
dtd                            0
tracker.metric.bbatp       20320
device.metric.dactualsp    20320
device.metric.btemp        20320
event.key                      0
dtype: int64


NaN event dataframe
Lenght: 535094
Number of NaN values:
imei                            0
dtd                            50
tracker.metric.bbatp       270336
device.metric.dactualsp    319743
device.metric.btemp        319608
event.key                  535094
dtype: int64

In [302]:
battery_info_df

,imei,dtd,tracker.metric.bbatp,device.metric.dactualsp,device.metric.btemp,event.key
0,868500050010859,2023-11-25 11:54:47+00:00,45.0,NaN,NaN,battery_info
2,868500050010859,2023-11-27 11:54:47+00:00,43.0,NaN,NaN,battery_info
7,868500050010859,2023-11-29 11:54:47+00:00,40.0,NaN,NaN,battery_info
10,868500050010859,2023-11-30 12:15:44+00:00,40.0,NaN,3.0,battery_info
18,868500050010859,2023-11-30 12:15:44+00:00,40.0,NaN,3.0,battery_info
...,...,...,...,...,...,...
725850,868500050069152,2023-11-29 16:35:02+00:00,97.0,NaN,NaN,battery_info
725855,868500050069160,2023-11-13 05:09:46+00:00,27.0,NaN,NaN,battery_info
725857,868500050069160,2023-11-15 05:09:46+00:00,27.0,NaN,NaN,battery_info
725859,868500050069160,2023-11-17 05:09:46+00:00,26.0,NaN,NaN,battery_info
725860,868500050069160,2023-11-19 05:09:46+00:00,20.0,NaN,NaN,battery_info

In [303]:
battery_info_df = event_dataframes['battery_info']

In [304]:
battery_info_df

,imei,dtd,tracker.metric.bbatp,device.metric.dactualsp,device.metric.btemp,event.key
0,868500050010859,2023-11-25 11:54:47+00:00,45.0,NaN,NaN,battery_info
2,868500050010859,2023-11-27 11:54:47+00:00,43.0,NaN,NaN,battery_info
7,868500050010859,2023-11-29 11:54:47+00:00,40.0,NaN,NaN,battery_info
10,868500050010859,2023-11-30 12:15:44+00:00,40.0,NaN,3.0,battery_info
18,868500050010859,2023-11-30 12:15:44+00:00,40.0,NaN,3.0,battery_info
...,...,...,...,...,...,...
725850,868500050069152,2023-11-29 16:35:02+00:00,97.0,NaN,NaN,battery_info
725855,868500050069160,2023-11-13 05:09:46+00:00,27.0,NaN,NaN,battery_info
725857,868500050069160,2023-11-15 05:09:46+00:00,27.0,NaN,NaN,battery_info
725859,868500050069160,2023-11-17 05:09:46+00:00,26.0,NaN,NaN,battery_info
725860,868500050069160,2023-11-19 05:09:46+00:00,20.0,NaN,NaN,battery_info