In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Import a xlsx file
df_original = pd.read_excel('../data/cnt_stella.xlsx', sheet_name='Devices')

# create a copy of the dataframe
df = df_original.copy()

In [3]:
columns_to_remove = ['latitude', 'longitude', 'google maps']

# check if they exist first
existing_columns = set(df.columns)
columns_to_remove = [col for col in columns_to_remove if col in existing_columns]

# remove them if they exist
if columns_to_remove:
    df = df.drop(columns=columns_to_remove)

In [4]:
df.dtypes

imei                             int64
sim_state                       object
firmware                       float64
last_connected          datetime64[ns]
last_gps_fix                    object
google_maps                    float64
connected_from                  object
claim_date                      object
sim_state_changed_at            object
activation_code                 object
last_known_battery              object
Unnamed: 13                    float64
days_offline                   float64
Battery_empty                     bool
dtype: object

In [5]:
df

,imei,sim_state,firmware,last_connected,last_gps_fix,google_maps,connected_from,claim_date,sim_state_changed_at,activation_code,last_known_battery,Unnamed: 13,days_offline,Battery_empty
0,869769039813183,live,9.05,2023-11-30,2023/11/30 16:00:14,NaN,Netherlands,2021/12/09 10:35:11,2021/12/09 10:35:12,SCN160189SLFS03601,0,3.503,0.0,True
1,869769039841895,live,9.05,2023-11-30,2023/11/30 07:41:16,NaN,Netherlands,2022/01/12 07:20:27,2022/01/12 07:20:29,SCN161783SWFM07710,0,3.505,0.0,True
2,868500050751312,live,9.05,2023-11-30,2023/11/29 15:46:57,NaN,Netherlands,2022/05/02 08:53:17,2022/05/02 08:53:18,SCN121131SWFL07810,0,3.507,0.0,True
3,869769039839519,live,9.05,2023-11-30,2023/11/30 10:48:35,NaN,Netherlands,2022/03/30 19:31:27,2022/03/30 19:31:27,SCN232158SWFM07710,0,3.506,0.0,True
4,868500050784016,live,9.05,2023-11-30,2023/11/30 15:25:40,NaN,Netherlands,2023/02/02 07:30:59,2023/02/03 16:12:03,FCM437193SPFL09011,0,3.339,0.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24049,868500050778968,live,NaN,2017-01-01,NaN,NaN,NaN,2023/06/27 06:25:24,2023/06/27 06:25:24,SCN230295SLFS03601,-,NaN,2525.0,True
24050,868500050801307,live,NaN,2017-01-01,NaN,NaN,NaN,2022/09/02 08:55:46,2022/09/13 12:39:15,SCP030028SPFL01110,-,NaN,2525.0,True
24051,868500050760503,live,NaN,NaT,NaN,NaN,NaN,2023/08/14 11:44:54,2023/08/14 11:44:54,SCN450397SPFS01910,NaN,NaN,NaN,True
24052,868500050800283,live,NaN,NaT,NaN,NaN,NaN,2023/11/15 12:45:52,2023/11/15 12:45:52,SCP221331SWFS07610,NaN,NaN,NaN,True
24053,868500050847250,live,NaN,NaT,NaN,NaN,NaN,2023/04/04 08:35:29,2023/04/18 08:43:50,FCN39B332SPFM08911,NaN,NaN,NaN,True